/examples/Space Shooters/build/
/examples/Space Shooters/dist/
/examples/Space Shooters/nbproject/private/
/nbproject/private/
/build/
/dist/
/examples/Physics/nbproject/private/
/examples/Physics/build/
/examples/Physics/dist/